%h1 News Portal
- @news.each do |news|
  %h2= link_to news.title, news
  #content
    = news.description
    - if user_signed_in?
      = link_to "Edit", [:edit, news]
      = button_to "Delete", news, :confirm => "Are you shure?", :method => :delete
%hr/
- if user_signed_in?
  = link_to "Add News", new_news_path
